@import '../../../sass/variables';
@import '../../../sass/mixins';

.dropdown {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}

.dropdownHidden {
  display: none;
}

.dropdownContent {
  position: absolute;
  top: 78px;
  right: 128px;

  height: 130px;
  width: 161px;
  padding: 18px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background-color: var(--mainBgColorWhite);
  border: 1px solid $mainAccentColor;
  border-radius: 8px;

  @include tablet {
    height: 134px;
    width: 177px;
  }

  @include desktop {
    right: 211px;

    height: 134px;
    width: 177px;
  }
}

.editBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: transparent;
  border: 0;

  font-weight: 500;
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.57;
  color: var(--dropdownTextColor);

  @include tablet {
    line-height: 1.6;
  }
}

.editIcon {
  width: 14px;
  height: 14px;
  stroke: var(--darkToWhite);
}

.arrowIcon {
  margin-left: 4px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.logOutBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 43px;
  width: 125px;

  font-family: 'Poppins';
  color: $mainBgColorWhite;
  background-color: $mainAccentColor;
  border: 0;
  border-radius: 24px 44px;
  font-size: 14px;
  line-height: 1.5;

  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover,
  &:focus {
    background-color: var(--darkToWhite);
    color: var(--secondaryBgColorWhite);
  }

  @include tablet {
    height: 43px;
    width: 141px;
  }
}
