@import '../../main.scss';

.popularContainer{
  width: 100%;
  padding: 0px 16px;
  margin-top: 72px;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $breakpoint-desktop) {
    padding: 0;
  }
}

.popularBox {
  position: relative;

  min-width: 343px;
  display: flex;
  flex-direction: column;
}


.popularTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;

  letter-spacing: -0.24px;
  color: var(--mainTextColor);
}

.popularList {
  margin-top: 32px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: $breakpoint-tablet) {
    margin-top: 40px;
    margin-bottom: 200px;
    flex-direction: row;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    margin-top: 40px;
    margin-bottom: 0px;
    flex-direction: column;
    max-width: 319px;
    max-height: 528px;
  }

}

.popularListEll {
  width: 100%;
}

.popularEll {
  display: flex;
  padding-right: 14px;
  padding-bottom: 13px;
  gap: 12px;

  border-bottom: 1px solid #70707036;
  overflow: hidden;
  text-overflow: ellipsis;

}

.populaImg {
  width: 104px;
  height: 85px;

  border-radius: 8px;
}

.popularTextBox {
  display: flex;
  flex-direction: column;
  gap: 3px;
  letter-spacing: -0.24px;
}

.popularTitleRecipe {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--mainTextColor);
}

.popularDiscrRecipe {
  height: 50px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #7e7e7e;
  overflow: hidden;
}