@import '../../../../sass/variables';

.modal {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  width: 330px;
  height: 179px;
  padding: 44px 24px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $mainBgColorWhite;
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.crossBtn {
  position: absolute;
  top: 18px;
  right: 18px;

  padding: 0;
  height: 20px;
  width: 20px;

  border: 0;
  background-color: transparent;
}

.warning {
  line-height: 1.29;
  color: $dropdownTextColor;
  margin-bottom: 24px;
}

.btnWrapper {
  display: flex;
}

.yesBtn,
.noBtn {
  width: 137px;
  height: 49px;

  border: 0;
  background-color: $mainAccentColor;
  border-radius: 6px;

  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.29;
  color: $mainBgColorWhite;
}

.noBtn {
  margin-left: 8px;
  background-color: $ellipseColor;
  color: $dropdownTextColor;
}

.modalHidden {
  display: none;
}
