html {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
  word-wrap: normal;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

body {
  position: relative;
  background-color: var(--mainBgColorWhite);

  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  align-items: center;
  font-weight: 400;
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.dark-mode {
  background-color: var(--mainBgColorWhite);
}

.remove-btnX {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
}

.remove-btnX--icon {
  width: 14px;
  height: 14px;
  stroke: var(--darkToWhite);
  transition: stroke $hoverAnimation;

  @include tablet {
    width: 20px;
    height: 20px;
  }
}

.remove-btnX:hover .remove-btnX--icon {
  stroke: var(--mainAccentColor);
}

.base-link-leaf {
  display: inline-block;
  text-align: center;
  text-decoration: none;

  border-radius: 24px 44px;
  max-width: 87px;
  max-height: 27px;
  min-width: 87px;
  min-height: 27px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  background-color: var(--darkGreytoGreen);
  transition: background $hoverAnimation;
  & span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: calc(15 / 10);

    color: $mainBgColorWhite;

    @include tablet {
      font-size: 14px;
      line-height: calc(21 / 14);
    }
  }

  @include tablet {
    max-width: 138px;
    max-height: 45px;
    min-width: 138px;
    min-height: 45px;
  }

  @include desktop {
    max-width: 160px;
    max-height: 54px;
    min-width: 160px;
    min-height: 54px;
  }
  &:hover,
  &:focus {
    background: $mainAccentColor;
  }
}

.trashBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--wrapperBgGrey);
  transition: background $hoverAnimation;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;

  @include tablet {
    width: 38px;
    height: 38px;
  }
  @include desktop {
    width: 44px;
    height: 44px;
  }
  &--icon {
    @include tablet {
      width: 22px;
      height: 22px;
    }
    @include desktop {
      width: 24px;
      height: 24px;
    }
  }

  &:hover,
  &:focus {
    background-color: $mainAccentColor;
  }
}

.trashBtn--icon {
  fill: var(--secondaryAccentColor);
  transition: fill $hoverAnimation;
}
.trashBtn:hover .trashBtn--icon,
.trashBtn:focus .trashBtn--icon {
  fill: $mainBgColorWhite;
}

.flexWrapper {
  display: flex;
  justify-content: center;
}

nav > ul > li > a.active {
  color: $mainAccentColor;
  font-weight: 600;
}
