@import './mixins';

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  @include tablet {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include desktop {
    padding-left: 100px;
    padding-right: 100px;
  }
}
