$mainBgColorWhite: #fafafa;
$secondaryBgColorWhite: #ffffff;
$mainTextColor: #3e4462;
$mainAccentColor: #8baa36;
$secondaryAccentColor: #22252a;
$hoverAnimation: 0.2s ease;
$shadowColor: #e0e0e0;
$wrapperBgGrey: #ebf3d4;
$dropdownTextColor: #23262a;
$ellipseColor: #d9d9d9;
$inputBackgroundColor: #ececec;
