$mainBgColorWhite: #fafafa;
$secondaryBgColorWhite: #ffffff;
$mainTextColor: #3e4462;
$mainAccentColor: #8baa36;
$secondaryAccentColor: #22252a;
$hoverAnimation: 0.2s ease;
$shadowColor: #e0e0e0;
$wrapperBgGrey: #ebf3d4;
$dropdownTextColor: #23262a;
$ellipseColor: #d9d9d9;
$inputBorderColor: rgba(35, 38, 42, 0.3);
$inputBorderColor2: rgba(250, 250, 250, 0.16);
$inputShadowColor: rgba(0, 0, 0, 0.08);
$modalShadowColor: rgba(0, 0, 0, 0.1);
