html {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
  word-wrap: normal;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;

  font-weight: 400;
}

#{$heading-selectors} {
  font-family: 'Poppins', sans-serif;
  margin: 0;

  a,
  a:hover,
  a:focus {
    color: var(--color-headline);
    text-decoration: none;
  }

  > em {
    color: var(--color-accent);
    font-style: normal;
  }
}

#modal-root {
  z-index: 10;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  //   @media screen and (min-width: $breakpoint-mobile-horizontal) {
  //     background-image: url(../assets/svg/ellipse_tabl1.svg),
  //       url(../assets/svg/ellipse_tabl2.svg);
  //     background-repeat: no-repeat;
  //     background-position: top 100% left 0, top 0 right 0;
  //   }

  //   @media screen and (min-width: $breakpoint-desktop) {
  //     background-image: url(../assets/svg/ellipse_desktop1.svg),
  //       url(../assets/svg/ellipse_desktop2.svg);
  //     background-repeat: no-repeat;
  //     background-position: top 100% left 0, top 0 right 0;
  //   }
}
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
