.ingredientsWrapper{
    position: relative;
    width: 100%;
    margin-top: 67px;
}

.addRecipeFormTypography {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: "red"
}

.ingredientsHeaderWrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addRemoveCounter{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 18px;
    padding: 16px 12px;
    width: 92px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.addRemoveCounter > span{
    margin-right: 15px;
    margin-left: 15px;
}

.counterIcon{
    cursor: pointer;
    text-align: end;
}

.inputWrapper {
    
    width: 100%;
    display: flex;
    align-items: center;
}

.inputWrapper:not(:last-child){
    margin-bottom: 18px;
}

.deleteIcon{
    margin-left: 30px;
}

.ingredientsErrorField{
    color: #d32f2f;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}