/*
  This mixin can be used to set the font-size and line-height in percents:
  @include font-size(fontSize, lineHeight);
*/
html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
  word-wrap: normal;
}
html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--mainBgColorWhite);
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  align-items: center;
  font-weight: 400;
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.dark-mode {
  background-color: var(--mainBgColorWhite);
}

.remove-btnX {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
}

.remove-btnX--icon {
  width: 14px;
  height: 14px;
  stroke: var(--darkToWhite);
  transition: stroke 0.2s ease;
}
@media screen and (min-width: 768px) {
  .remove-btnX--icon {
    width: 20px;
    height: 20px;
  }
}

.remove-btnX:hover .remove-btnX--icon {
  stroke: var(--mainAccentColor);
}

.base-link-leaf {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 24px 44px;
  max-width: 87px;
  max-height: 27px;
  min-width: 87px;
  min-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--darkGreytoGreen);
  transition: background 0.2s ease;
}
.base-link-leaf span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: #fafafa;
}
@media screen and (min-width: 768px) {
  .base-link-leaf span {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .base-link-leaf {
    max-width: 138px;
    max-height: 45px;
    min-width: 138px;
    min-height: 45px;
  }
}
@media screen and (min-width: 1440px) {
  .base-link-leaf {
    max-width: 160px;
    max-height: 54px;
    min-width: 160px;
    min-height: 54px;
  }
}
.base-link-leaf:hover, .base-link-leaf:focus {
  background: #8baa36;
}

.trashBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--wrapperBgGrey);
  transition: background 0.2s ease;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .trashBtn {
    width: 38px;
    height: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .trashBtn {
    width: 44px;
    height: 44px;
  }
}
@media screen and (min-width: 768px) {
  .trashBtn--icon {
    width: 22px;
    height: 22px;
  }
}
@media screen and (min-width: 1440px) {
  .trashBtn--icon {
    width: 24px;
    height: 24px;
  }
}
.trashBtn:hover, .trashBtn:focus {
  background-color: #8baa36;
}

.trashBtn--icon {
  fill: var(--secondaryAccentColor);
  transition: fill 0.2s ease;
}

.trashBtn:hover .trashBtn--icon,
.trashBtn:focus .trashBtn--icon {
  fill: #fafafa;
}

.flexWrapper {
  display: flex;
  justify-content: center;
}

nav > ul > li > a.active {
  color: #8baa36;
  font-weight: 600;
}

/*
  This mixin can be used to set the font-size and line-height in percents:
  @include font-size(fontSize, lineHeight);
*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 1440px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.recipeEll {
  position: relative;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.recipeEll:hover .recipeOverlay, .recipeEll:focus .recipeOverlay {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .recipeEll {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .recipeEll {
    width: calc((100% - 42px) / 4);
  }
}

.recipeImg {
  border-radius: 8px;
  width: 343px;
  height: 323px;
}

.recipeTitle {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  width: 307px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--mainTextColor);
  background: var(--secondaryBgColorWhite);
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .recipeTitle {
    width: 307px;
  }
}
@media screen and (min-width: 1440px) {
  .recipeTitle {
    width: 268px;
  }
}

.recipeOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(139, 170, 54, 0.8);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.recipeTime {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  top: 14px;
  right: 14px;
}

.recipeClock {
  width: 18px;
  height: 18px;
  fill: #ffffff;
  animation: rotateClockwise 2s infinite linear;
}

.recipeText {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  text-overflow: ellipsis;
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=RecipeCard.module.css.map */