@import '../../sass/mixins';

.hero {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  padding-top: 132px;
  position: relative;
  min-width: 375px;
  height: 777px;

  background-image: url('../../assets/image/mainPage/m-plate.png');
  background-size: 320px 296px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 322px;

  @include tablet {
    display: flex;
    padding-top: 204px;
    min-width: 768px;
    height: 640px;

    background-image: url('../../assets/image/mainPage/t-plate.png');
    background-size: 378px 351px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 159px;
  }

  @include desktop {
    padding-top: 226px;
    min-width: 1440px;
    height: 800px;

    background-image: url('../../assets/image/mainPage/d-plate.png');
    background-size: 578px 539px;
    background-repeat: no-repeat;
    background-position: right 184px top 126px;
  }
}
