@import '../../main.scss';

.hero {
  display: flex;
  justify-content: center;
  background-color: var(--mainBgColorWhite);

  position: relative;
  min-width: 375px;
  width: 100vw;
  height: 777px;
  background-color: var(--mainBgColorWhite);

  background-image: url('../../assets/image/mainPage/m-spinach-top.png'),
    url('../../assets/image/mainPage/m-spinach-bottom.png'),
    url('../../assets/image/mainPage/m-bg-green.png');
  background-size: auto, auto, auto;
  background-repeat: no-repeat;
  background-position: top 35px left, right top 25px, right top 148px;

  @include tablet {
    display: flex;
    min-width: 768px;
    height: 640px;
    gap: 18px;

    background-image: url('../../assets/image/mainPage/t-spinach-top.png'),
      url('../../assets/image/mainPage/t-bg-green.png');
    background-size: auto, auto;
    background-repeat: no-repeat;
    background-position: top left, right top;
  }

  @include desktop {
    min-width: 1440px;
    height: 800px;

    background-image: url('../../assets/image/mainPage/d-spinach-top.png'),
      url('../../assets/image/mainPage/d-spinach-bottom.png'),
      url('../../assets/image/mainPage/d-bg-green.png');
    background-size: auto 474px, contain, auto;
    background-repeat: no-repeat;
    background-position: top left, right center, right top;
  }
}
