@import '../../sass/variables';
@import '../../sass/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 58.58%,
      rgba(0, 0, 0, 0.345172) 78.98%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../../assets/welcomePage/welcomePage@1x-mob.png);
  @mixin retina {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 58.58%,
        rgba(0, 0, 0, 0.345172) 78.98%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../assets/welcomePage/welcomePage@2x-mob.png);
  }
  @media screen and (min-width: $breakpoint-tablet) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 58.58%,
        rgba(0, 0, 0, 0.345172) 78.98%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../assets/welcomePage/welcomePage@1x-tab.png);
    @mixin retina {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.6) 58.58%,
          rgba(0, 0, 0, 0.345172) 78.98%,
          rgba(0, 0, 0, 0) 100%
        ),
        url(../../assets/welcomePage/welcomePage@2x-tab.png);
    }
  }
  @media screen and (min-width: $breakpoint-desktop) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 58.58%,
        rgba(0, 0, 0, 0.345172) 78.98%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../assets/welcomePage/welcomePage@1x-desk.png);
    @mixin retina {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.6) 58.58%,
          rgba(0, 0, 0, 0.345172) 78.98%,
          rgba(0, 0, 0, 0) 100%
        ),
        url(../../assets/welcomePage/welcomePage@2x-desk.png);
    }
  }
}

.title {
  color: $mainBgColorWhite;
  margin-top: 28px;
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-top: 42px;
    font-size: 28px;
    line-height: 28px;
  }
}

.text {
  color: $mainBgColorWhite;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 44px;
  padding: 0 35px;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 42px;
    padding: 0 134px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    margin-bottom: 40px;
    padding: 0 448px;
  }
}

.btn_wrapper {
  display: flex;
  gap: 12px;
  @media screen and (min-width: $breakpoint-tablet) {
    gap: 18px;
  }
}

.btn_registration {
  font-size: 14px;
  line-height: 1.5;
  display: block;
  padding: 12px 24px;
  border-radius: 24px 44px;
  border: none;
  background-color: $mainAccentColor;
  color: $mainBgColorWhite;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #22252a;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 16px;
    padding: 22px 44px;
  }
}

.btn_signin {
  font-size: 14px;
  line-height: 1.5;
  display: block;
  background-color: transparent;
  padding: 12px 24px;
  border-radius: 24px 44px;
  border: 2px solid $mainBgColorWhite;
  color: $mainBgColorWhite;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $secondaryAccentColor;
    border: 2px solid $secondaryAccentColor;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 16px;
    padding: 22px 44px;
  }
}
