@import '../../sass/variables';
@import '../../sass/mixins';

.container {
  display: flex;
  justify-content: space-between;
  max-width: 375px;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1440px;
  }
}
