@import '../../main.scss';

.previewCategoriesBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;

  width: 100%;
  margin: 0;
  padding: 64px 15px 100px;

  background-color: var(--mainBgColorWhite);

  @include tablet {
    gap: 32px;
    padding: 72px 32px 100px;
  }

  @include desktop {
    gap: 14px;
    padding: 100px 100px 118px;
  }
}

.previewCategoriesList {
  display: flex;
  gap: 32px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  color: var(--darkGreytoWhite);

  @include tablet {
    max-width: 704px;
    gap: 50px;
  }

  @include desktop {
    max-width: 1240px;
    gap: 100px;
  }
}

.previewCategoriesListEll {
  display: flex;
  align-items: center;

  flex-direction: column;
  width: 343px;

  @include tablet {
    gap: 40px;
    width: 100%;
  }

  @include desktop {
    gap: 50px;
  }
}

.categoriesName {
  align-self: flex-start;
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;

  @include tablet {
    margin: 0;
    font-size: 44px;
    line-height: 1;
  }
}
.recipeListSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;

  padding: 0;
  margin-bottom: 24px;

  @include tablet {
    width: 704px;
    margin: 0;
    gap: 32px;
  }

  @include desktop {
    width: 1240px;
    gap: 14px;
  }
}
.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;
  margin-bottom: 24px;

  @include tablet {
    width: 704px;
    margin: 0;
    gap: 32px;
  }

  @include desktop {
    width: 1240px;
    gap: 14px;
  }
}

.seeAllBtn {
  padding: 10px 24px;
  align-self: flex-end;

  border: none;
  background: #8aa936;
  color: $mainBgColorWhite;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);

  transition: background $hoverAnimation;

  &:hover,
  &:focus {
    background: $secondaryAccentColor;
    color: $mainBgColorWhite;
  }
}

.otherCategoriesBtn {
  padding: 14px 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(21 / 14);

  background-color: transparent;
  color: var(--darkToWhite);

  border-radius: 24px 44px;
  border: 2px solid $mainAccentColor;

  transition: background $hoverAnimation;

  &:hover,
  &:focus {
    background: $mainAccentColor;
    color: $mainBgColorWhite;
  }

  @include tablet {
    padding: 20px 52px;
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
