@import '../../../sass/variables';
@import '../../../sass/mixins';
@import '../../../sass/container';

.cross {
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  stroke: var(--darkToWhite);
  @include desktop {
    display: none;
  }
}

.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: 18px;

  background-color: var(--wrapperBgGrey);
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 200ms linear;
  &::after {
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;

    width: 320px;
    height: 343px;
    content: '';
    background-image: url(../../../assets/image/header/menu-background.png);
    background-repeat: no-repeat;
  }

  @include tablet {
    &::after {
      width: 591px;
      height: 505px;
      background-image: url(../../../assets/image/header/menu-background-m.png);
    }
  }

  @include desktop {
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
    flex-direction: row;
    transform: translateX(0);
    margin-left: 187px;

    &::after {
      display: none;
    }
  }
}

.backdrop.active {
  transform: translateX(0);
}

.navWrapper {
  @include desktop {
    display: flex;
    align-items: center;
  }
}

.logoCrossWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  @include tablet {
    height: 44px;
    width: 44px;
  }
  @include desktop {
    display: none;
  }
}

.navList {
  margin-top: 124px;
  display: flex;
  flex-direction: column;
  text-align: center;
  @include desktop {
    z-index: 3;
    margin-top: 0px;
    flex-direction: row;
    align-items: center;
  }
}

.navItem {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
  }
  @include desktop {
    margin-bottom: 0px;
    margin-right: 30px;
    &:last-child {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.navLink {
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--darkToWhite);
  @include tablet {
    font-size: 24px;
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.6;
  }
}

.searchBtn {
  border: 0;
  background-color: transparent;
  font-family: 'Poppins';
}

.searchIcon {
  height: 20px;
  width: 20px;
  stroke: var(--darkToWhite);
  margin-right: 8px;
  @include tablet {
    height: 24px;
    width: 24px;
  }

  @include desktop {
    margin-right: 0px;
  }
}

.searchLink {
  display: flex;
  justify-content: center;
}

.searchLinkText {
  @include desktop {
    display: none;
  }
}

.active {
  color: $mainAccentColor;
  font-weight: 600;
}

.toggle {
  z-index: -2;

  margin-bottom: 18px;
  @include desktop {
    display: none;
  }
}
