@import '../../../main.scss';


.search_bar {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.searchLookingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.searchLookingWrapper>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.5;
    margin-top: 24px;
}

.searchLookingWrapper>img {
    width: 300px;
    height: 200px;
    margin-top: 50px;
}

// .pagination {
//     display: flex;
//     align-items: center;
//     gap: 30px;
//     background: #fafafa;
//     box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.2);
//     border-radius: 26px;
//     padding: 20px;
//     cursor: pointer;
// }

// .activePage {
//     background: #ebf3d4;
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     text-align: center;
// }