@import '../../sass/container';
@import '../../sass/variables';
@import '../../sass/mixins';

.header {
  padding-top: 18px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: absolute;
  left: 0;
  z-index: 1;
}

.headerNotMain {
  position: static;
}

.navWrapper {
  display: flex;
}

.logo {
  @include tablet {
    height: 44px;
    width: 44px;
  }
}

.avatar {
  width: 34px;
  height: 34px;
  margin-right: 14px;
  border-radius: 50%;
  @include tablet {
    width: 44px;
    height: 44px;
  }
}

.userInfoWrapper {
  display: flex;
  margin-right: 24px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  @include tablet {
    margin-right: 50px;
  }

  @include desktop {
    margin-right: 0px;
  }
}

.userWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.username {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.7;
  color: var(--darkToWhite);
  @include tablet {
    font-size: 14px;
  }
  @include desktop {
    margin-right: 50px;
    color: $secondaryAccentColor;
  }
}

.usernameNotMain {
  @include desktop {
    color: var(--darkToWhite);
  }
}

.burgerWrapper {
  display: flex;
  align-items: center;
}

.burgerBtn {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--darkToWhite);

  @include desktop {
    display: none;
  }
}

.burger {
  width: 28px;
  height: 28px;
  stroke: var(--darkToWhite);
  @include tablet {
    stroke: $secondaryAccentColor;

    width: 32px;
    height: 32px;
  }
}

.burgerNotMain {
  @include tablet {
    stroke: var(--darkToWhite);
  }
}

.toggle {
  @include lessDesktop {
    display: none;
  }
}
