.addRecipeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addRecipeForm > form {
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
    min-width: 350px;
}

.categorySelect{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;

}

.categoryLabel{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.6;
}

.addRecipeInput{
    border: none;
    border-bottom: 1px solid #E0E0E0;
    outline: none;
    height: 52px;
   
}

.addRecipeInput::placeholder {
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
 }

 .select {
    border: none;
 }