@import '../../sass/mixins';

.heroWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 115px;
  position: absolute;

  bottom: 83px;
  left: 50%;
  transform: translateX(-50%);

  @include tablet {
    flex-direction: row-reverse;
    gap: 0;

    width: 704px;
    bottom: 150px;
  }

  @include desktop {
    width: 1240px;
    align-items: flex-start;
    bottom: 224px;
  }
}
