@import '../../main.scss';

.searchBox {
  position: relative;
}

.searchInput {
  align-self: flex-start;
  min-width: 295px;
  padding: 17px 0 17px 32px;
  background-color: transparent;
  color: #f0f0f0;
  border-radius: 24px 44px;
  background: $secondaryBgColorWhite;

  border: 1px solid #f0f0f0;
  box-shadow: 0px 4px 97px rgba(34, 37, 42, 0.03);

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #bdbdbd;

  @include tablet {
    min-width: 369px;
    padding: 18px 38px;

    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    min-width: 510px;
    padding: 23px 48px;
  }
}

.searchBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 32px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  background-color: $secondaryAccentColor;
  color: $mainBgColorWhite;
  border-radius: 24px 44px;
  border: none;

  transition: background $hoverAnimation;
  &:hover,
  &:focus {
    background: $mainAccentColor;
  }

  @include tablet {
    padding: 18px 52px;

    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    padding: 23px 52px;
  }
}
