@import '../../main.scss';
.newBtn {
  background-color: red;
}
.searchBox {
  position: relative;
  // margin-bottom: 27px;
}

.searchInput {
  align-self: flex-start;
  min-width: 295px;

  padding: 17px 0 17px 32px;
  background-color: transparent;
  color: #f0f0f0;
  border-radius: 24px 44px;
  background-color: var(--secondaryBgColorWhite);

  border: 1px solid var(--greyToGrey);
  box-shadow: 0px 4px 97px rgba(34, 37, 42, 0.03);

  font-weight: 400;
  font-size: 12px;
  line-height: calc(18/12);

  color: var(--inputGreyColor);

  &:focus {
    outline: none;
    border: 1px solid $mainAccentColor;
    color: var(--mainTextColor);
  }

  @include tablet {
    min-width: 369px;
    padding: 18px 38px;

    font-size: 16px;
    line-height: calc(24/16);
  }

  @include desktop {
    min-width: 510px;
    padding: 23px 48px;
  }
}

.searchBtn:hover {
  background: var(--darkToGreen);
}

.searchBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  right: 0;
  height: 100%;
  padding: 16px 32px;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(14/21);

  background-color: var(--darkToGreen);
  color: $mainBgColorWhite;
  border-radius: 24px 44px;
  border: none;

  transition: background $hoverAnimation;
  &:hover,
  &:focus {
    background: $mainAccentColor;
  }

  @include tablet {
    padding: 18px 52px;

    font-size: 16px;
    line-height: calc(24/16);
  }

  @include desktop {
    padding: 23px 52px;
  }
}
