@import '../../sass/mixins';

.socialBox {
  display: none;

  @include desktop {
    display: flex;
    width: 163px;
    flex-direction: column;
    gap: 40px;
  }
}

.socialTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;

  letter-spacing: -0.24px;
  color: var(--mainTextColor);
}

.socialList {
  display: flex;
  align-items: center;
  gap: 20px;
}

.facebookIcon,
.youtubeIcon,
.twitterIcon {
  fill: var(--greenToWhite);
}

.facebookIcon {
  width: 26px;
  height: 26px;
}

.youtubeIcon {
  width: 28px;
  height: 22px;
}

.twitterIcon {
  width: 25px;
  height: 22px;
}

.instagramIcon {
  width: 24px;
  height: 24px;
  fill: var(--greenToWhite);
}
