.recipes_wrapper{
    position: relative;
} 
.recipes_list{} 
.recipes_list_link{
    width: 300px;
    border-radius: 8px;
    display: flex;
    gap: 14px;
}
.recipes_card_wrapper{
}
.recipes_img{
    
}
.recipes_title{
    
}
.recipes_title>h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.24px;

    /* Color - Text Primary */

    color: #3E4462;
}