@import '../../main.scss';

.favorites-container {
  max-width: 375px;
  min-width: 375px;

  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--mainBgColorWhite);

  @include tablet {
    max-width: 768px;
    min-width: 768px;

    padding-left: 32px;
    padding-right: 32px;
  }
  @include desktop {
    max-width: 1440px;
    min-width: 1440px;

    padding-left: 100px;
    padding-right: 100px;
  }
}
.favorites-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 18px;

  @include tablet {
    gap: 40px;
  }
  @include desktop {
    gap: 50px;
  }
}
.favorite-item {
  max-width: 343px;
  min-width: 343px;
  min-height: 152px;
  max-height: 152px;

  position: relative;

  padding: 14px 43px 14px 9px;
  gap: 14px;
  display: flex;

  background: var(--secondaryBgColorWhite);
  border-radius: 8px;

  @include tablet {
    min-height: 288px;
    max-height: 288px;
    padding: 28px 130px 28px 24px;
    gap: 24px;
    max-width: 704px;
    min-width: 704px;
  }
  @include desktop {
    min-height: 404px;
    max-height: 404px;
    padding: 40px 163px 40px 40px;
    gap: 50px;
    max-width: 1240px;
    min-width: 1240px;
  }
}
.mod {
  background-color: var(--greenToGrey);
  &:hover,
  &:focus {
    background-color: var(--darkGreytoGreen);
  }
}
.mod--icon {
  fill: var(--whiteToWhite);
}
.mod:hover .mod--icon,
.mod:focus .mod--icon {
  fill: $mainBgColorWhite;
}
.favorite-img-wrapper {
  max-width: 124px;
  max-height: 124px;

  min-width: 124px;
  min-height: 124px;

  @include tablet {
    max-width: 228px;
    min-width: 228px;
    max-height: 232px;
    min-height: 232px;
  }
  @include desktop {
    max-width: 318px;
    min-width: 318px;
    max-height: 324px;
    min-height: 324px;
  }
}
.favorite-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.favorite-title {
  margin-bottom: 14px;

  font-family: 'Poppins';

  font-weight: 500;
  font-size: 14px;

  letter-spacing: -0.24px;
  color: var(--mainTextColor);
  line-height: 1;

  letter-spacing: calc(-0.24px / 14);

  @include tablet {
    font-size: 24px;

    margin-bottom: 28px;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}
.favorite-delete-btn {
  position: absolute;
  left: 310px;
  top: 14px;

  @include tablet {
    left: 642px;
    top: 28px;
  }
  @include desktop {
    left: 1156px;
    top: 40px;
  }
}

.favorite-description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.favorite-description {
  font-family: 'Poppins';

  font-weight: 400;
  font-size: 8px;
  line-height: calc(10 / 8);

  letter-spacing: -0.02em;

  color: var(--secondaryAccentColor);

  @include tablet {
    font-size: 14px;
  }
  @include desktop {
    font-size: 18px;
  }
}

.favorite-time {
  font-family: 'Poppins';

  font-weight: 500;
  font-size: 10px;
  line-height: calc(14 / 10);

  letter-spacing: calc(-0.24px / 10);

  color: var(--mainTextColor);

  @include tablet {
    font-size: 14px;
  }
}

.favorite-link {
  position: absolute;
  left: 247px;
  top: 111px;

  @include tablet {
    left: 542px;
    top: 215px;
  }

  @include desktop {
    left: 1040px;
    top: 310px;
  }
}

.base-link-leaf--mod {
  background-color: var(--mainAccentColor);

  &:hover,
  &:focus {
    background: var(--darkToWhite);

    .base-link-leaf--mod--span {
      color: var(--secondaryBgColorWhite);
    }
  }
}

.emptyName {
  color: var(--mainTextColor) !important;
}
