.cont_type_select{
    display: flex;
    align-items: center;
    gap: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: -0.24px;

    color: #001833;
    margin-bottom: 90px;
}
.search_select{
    width: 198px;
    height: 49px;
    border-radius: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    letter-spacing: -0.02em;
    
    color: #000000;
    
    opacity: 0.5;
}
