@import '../../../main.scss';

.cont_type_select {
  display: flex;
  align-items: baseline;
  gap: 30px;

  margin-bottom: 90px;
  margin-top: 30px;
}
.cont_type_select > label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  letter-spacing: -0.24px;

  color: var(--mainTextColor);

  flex: none;
  order: 0;
  flex-grow: 0;
  @include tablet {
    font-size: 14px;
    line-height: 18px;
  }
  @include desktop {
    font-size: 18px;
    line-height: 24px;
  }
}
.search_select {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  flex: none;
  order: 1;
  flex-grow: 0;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: -0.02em;

  color: #000000;

  opacity: 0.5;
  @include tablet {
    font-size: 14px;
    line-height: 21px;
    opacity: 0.5;
  }
  @include desktop {
    font-size: 14px;
    line-height: 21px;
  }
}
